html {
  scrollbar-width: none;
}

#select-label {
  top: -10px;
}

.content {
  max-height: 95vh;
  overflow-y: scroll;
}

.MuiPagination-ul {
  justify-content: center;
}

.logo {
  max-width: 60px;
  height: auto;
}
